 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming Languages</h2>
      <i class="devicon-python-plain"></i>
      <i class="devicon-go-original-wordmark"></i>
      <i class="devicon-php-plain"></i>
      <i class="devicon-javascript-plain"></i>
     
    </div>
    <div class="tech">
      <h2>Cloud Computing</h2>
       <i class="devicon-apachekafka-original"></i>
       <i class="devicon-googlecloud-plain"></i>
       <i class="devicon-amazonwebservices-original"></i>
       
    </div>
    <div class="tech">
      <h2>Frameworks/Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-vscode-plain"></i>
      <i class="devicon-fastapi-plain"></i>
    </div>
</div>
