<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="space_object" src="{{ "/assets/img/space_object.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Udacity Course: Near Earth Object Detection </h3>
    <ul>
      <li>Machine Learning, Python, Data Analysis, Pandas, JSON</li>
    </ul>
    <p> In March 2022, I completed a nanodegree course in Intermediate Python from Udacity. One of the projects' goal was to search and explore near earth objects using data from using data from NASA/JPL's Center for Near Earth Object Studies. This project is based on the Udacity nanodegree found <a href = "https://www.udacity.com/course/intermediate-python-nanodegree--nd303>" here </a>. </p>
    <a class="project-link" href="https://github.com/rominacarabathampi/Udacity-neo-project">Check it out</a>
  </div>
</div>

  <div class="user-projects">
  <div class="images-left">
    <img alt="dog_meme" src="{{ "/assets/img/dog_meme.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Udacity Course: Meme Generator </h3>
    <ul>
      <li>Python, Interactive Web Interface, Numpy, Pandas, Flask</li>
    </ul>
    <p> In March 2022, I completed a nanodegree course in Intermediate Python. One of the projects's goal was to create a meme generator. Given a set of images, and a list of quotes, generate a meme.< a href = "https://www.udacity.com/course/intermediate-python-nanodegree--nd303>Udacity Intermediate Python"</a>. </p>
    <a class="project-link" href="https://github.com/rominacarabathampi/Udacity-meme-generator">Check it out</a>
  </div>
</div>
      
<div class="user-projects">
  <div class="images-right">
    <img alt="cancer_detection" src="{{ "/assets/img/cancer_detection.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Cancer Detection Project - Image Recognition </h3>
    <ul>
      <li>Machine Learning, Python, Data Analysis</li>
    </ul>
    <p>In summer 2019, I have worked on a capstone project for the completion of a Data Science diploma from Brainstation. For this project I have developed my own convolutional neural network algorithm as the data were images of lymph node sections. I had build a model accuracy of 80-87% which were good enough for the given circumstances. The data was provided by the <a href = "https://camelyon16.grand-challenge.org/">Patch Camelyon Challenge </a>. </p>
    <a class="project-link" href="https://github.com/rominacarabathampi/Cancer-detection-capstone">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="toronto" src="{{ "/assets/img/toronto.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Trend Analysis of Crimes in Greater Toronto Area (GTA) </h3>
    <ul>
      <li> Data Analysis, R, Tableau, Python</li>
    </ul>
    <p>For a summer school project, I had analysed data publicly-provided by the Toronto Police on Crime rates. Interestingly enough the highest crime hours are 12 am and 12 pm respectively. As for which areas are the most “dangerous” in GTA, read here from the Jupyter Notebook.</p>
    <a class="project-link" href="https://github.com/rominacarabathampi/PythonProjects/blob/master/toronto_crime_rate.ipynb">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="iss" src="{{ "/assets/img/iss.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Canadian Space App Challenge</h3>
    <ul>
      <li> Data Analysis, Data Cleaning, Excel, Python</li>
    </ul>
    <p>In November 2019 I had participated in the hackathon organized by the Canadian Space Agency (CSA) and National Aeronautics and Space Administration (NASA). My team and I had won the challenge on the analysis of neutron radiation. We compared the data collected from the International Space Station(ISS) and from schools across Canada. From the students part, a lot of data had missing values, or incorrectly collected answers. We had replaced the missing values with predicted approximated data containing median of schools around the area.</p>
    <a class="project-link" href="https://github.com/rominacarabathampi/CanadianSpaceAppChallenge">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="covid" src="{{ "/assets/img/covid.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Canadian COVID-19 Data Study and Prediction </h3>
    <ul>
      <li> Data Analysis, Python, Jupyter Notebook</li>
    </ul>
    <p>During the month of May 2020, I had analysed the data from the COVID-19 published by the <a href ="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html">Government of Canada</a>. The data file can be found on the website, under “Current situation”. I had used Atom to write a Python code which contained a SEIR model (Susceptibility, Exposed, Infected, Recovered). To build this model I used a Runge-Kutta method of 4th degree order in which the four dimensions were SEIR. Then, I used a linear regression model to predict the data in June by studying the data from May.</p>
    <a class="project-link" href="https://github.com/rominacarabathampi/PythonProjects/blob/master/toronto_crime_rate.ipynb">Check it out</a>
  </div>
</div>
